.all-islands {
    //height: 100%;
    padding-left: 74px;
    padding-right: 0; 
    .tile {
        height: 20%;
        background-color: rgba(0, 0, 0, 0.7);
        border-bottom: solid 1px #CCC;
        color: #FFF;
        padding: 15px 5px;
        .base-tile {
            max-width: 600px;
            padding-left: 15px;
            h1 {
                margin-top: 0;
            }
            .coming-soon {
                color: @red;
                font-weight: bold;
            }
            .btn-primary {
            &.disabled {
                background-color: #333;
                opacity: 0.5;
            }
        }
        }
        &.hover {
            background-color: rgba(0, 0, 0, 0.9);
        }
    }
}

.countyLabel {
    min-width: 120px;
    &.Savannah {
        margin-top: 100px !important;
    }
    .label {
        background-color: white;
        border-radius: 5px;
        border: solid 1px #CCC;
        font-size: 13px;
        font-weight: normal;
        color: #333;
        font-family: 'Open Sans', sans-serif;
    }
}

@media screen and (max-width: 991px) {
.all-islands {
    height: 100%;
    padding-left: 50px;
    padding-right: 0;
}
}
