#panoDIV {
  height: 500px;
  padding-right: 15px;
  margin-bottom: 15px;
}
video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translatex(-50%) translatey(-50%);
  -moz-transform: translatex(-50%) translatey(-50%);
  -webkit-transform: translatex(-50%) translatey(-50%);
  transform: translatex(-50%) translatey(-50%);
  background-size: cover;
}
.overlay {
  display: table;
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  text-align: center;
  color: white;
}
.overlay .intro-content {
  display: table-cell;
  vertical-align: middle;
}
.overlay.auto-on {
  display: block;
}
.overlay .btn:first-child {
  margin-right: 15px;
}
.overlay h1 {
  margin-top: 0;
  font-size: 60px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-transform: uppercase;
  line-height: 1.25em;
  font-weight: 200;
  position: relative;
}
.overlay h1:before {
  content: "";
  position: absolute;
  left: 25%;
  bottom: -7px;
  height: 1px;
  width: 50%;
  border-bottom: 1px solid #FFF;
  border-bottom-color: rgba(255, 255, 255, 0.2);
}
.overlay h2 {
  font-size: 22px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
  font-weight: 300;
}
.overlay > button {
  margin-right: 40px;
}
@media screen and (max-width: 991px) {
  .overlay {
    padding-left: 75px;
  }
  .overlay h1 {
    font-size: 40px;
    width: 95%;
  }
  .overlay h2 {
    width: 95%;
    font-size: 17px;
  }
}
.all-islands {
  padding-left: 74px;
  padding-right: 0;
}
.all-islands .tile {
  height: 20%;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: solid 1px #CCC;
  color: #FFF;
  padding: 15px 5px;
}
.all-islands .tile .base-tile {
  max-width: 600px;
  padding-left: 15px;
}
.all-islands .tile .base-tile h1 {
  margin-top: 0;
}
.all-islands .tile .base-tile .coming-soon {
  color: #cf3c28;
  font-weight: bold;
}
.all-islands .tile .base-tile .btn-primary.disabled {
  background-color: #333;
  opacity: 0.5;
}
.all-islands .tile.hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.countyLabel {
  min-width: 120px;
}
.countyLabel.Savannah {
  margin-top: 100px !important;
}
.countyLabel .label {
  background-color: white;
  border-radius: 5px;
  border: solid 1px #CCC;
  font-size: 13px;
  font-weight: normal;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width: 991px) {
  .all-islands {
    height: 100%;
    padding-left: 50px;
    padding-right: 0;
  }
}
#map {
  width: 50%;
}
#map.full_width {
  width: 100%;
}
.col-md-4.logo {
  padding: 0;
}
.btn {
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  font-size: 18px;
  margin-top: 25px;
  color: #FFF;
  padding: 15px 25px;
}
.btn:hover {
  color: #FFF;
  text-decoration: none;
}
.btn-primary {
  background-color: #70ad43;
}
.btn-primary:hover {
  background-color: #588835;
}
.btn-secondary {
  background-color: #cf3c28;
}
.btn-secondary:hover {
  background-color: #a43020;
}
.triangle-border {
  border-left: 12px solid #cf3c28;
  border-top: 13px solid transparent;
  border-bottom: 12px solid transparent;
}
.second-border {
  border-left: 12px solid #ffdd46;
  border-top: 13px solid transparent;
  border-bottom: 12px solid transparent;
}
.leaflet-popup-content {
  width: auto !important;
}
.leaflet-popup-content .gallery-label,
.leaflet-popup-content .articleTitle {
  font-size: 20px;
  margin: 0;
  color: #455a64;
  min-width: 300px;
}
.leaflet-popup-content .articleDescription {
  font-size: 13px;
  line-height: 1.5em;
  margin-top: 5px;
}
.leaflet-popup-content .btn {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
.leaflet-popup-content .video {
  width: 500px;
}
.leaflet-popup-pane {
  width: auto !important;
}
.leaflet-popup-pane .carousel {
  width: 500px;
}
.leaflet-popup-pane .carousel a.carousel-control {
  color: #FFF;
}
.leaflet-popup-pane img {
  width: 100%;
}
* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background-color: #ffffff;
}
body p {
  line-height: 1.75em;
}
html {
  height: 100%;
}
h1 {
  font-weight: 300;
}
.site {
  height: 100%;
  margin: 0px;
}
#hideMap {
  padding: 10px;
  font-size: 30px;
  position: relative;
  background-color: #ffdd46;
  color: #ffffff;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.28);
}
#hideMap.collapse {
  margin-left: 75px;
}
#hideMap:hover {
  text-decoration: none;
}
.general_menu {
  background: #455a64;
  box-shadow: inset -1px 0px 1px #1c2125;
  height: 100%;
  max-width: 75px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  position: fixed;
  z-index: 8;
}
.general_menu ul {
  padding: 0px;
}
.general_menu ul li.nav-divider {
  border-bottom: solid 1px #5a7582;
}
.general_menu ul li a {
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  display: block;
  color: #eaeff1;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: -1px;
  padding: 15px 20px;
  position: relative;
}
.general_menu ul li a i.marker {
  background: url('../dist/images/markers-soft.png') no-repeat 0 0;
  width: 35px;
  height: 46px;
  left: 0;
  top: 0;
  display: block;
  text-align: center;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.7;
}
.general_menu ul li a i.marker.orange {
  background-position: -36px 0;
}
.general_menu ul li a i.marker.red {
  background-position: 0 0;
}
.general_menu ul li a i.marker.green {
  background-position: -72px 0;
}
.general_menu ul li a i.marker.blue {
  background-position: -108px 0;
}
.general_menu ul li a i.marker.purple {
  background-position: -144px 0;
}
.general_menu ul li a:hover {
  background: #20272c;
  display: block;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: -1px;
  padding: 15px 13px;
  text-decoration: none;
}
.general_menu ul li a:hover .title {
  display: block;
}
.general_menu ul li a .title {
  display: none;
}
.general_menu .avatar {
  display: block;
  padding: 25px 8px;
}
.full_width {
  padding-left: 105px;
  background: #ffffff;
  padding-top: 20px;
}
.leaflet-popup-pane {
  width: auto !important;
}
.general_content_styles {
  background: #ffffff;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.28);
  margin-bottom: 0px;
  padding-left: 105px;
  max-width: 1200px;
  min-height: 100%;
  padding-top: 20px;
}
.general_content_styles figcaption {
  padding: 10px;
  background-color: #f1f1f1;
  margin-top: -10px;
  font-style: italic;
  font-size: 12px;
}
.general_content_styles .long-content .img-responsive {
  margin-bottom: 10px;
  border: solid 1px #F1F1F1;
}
.general_content_styles .long-content video {
  margin-bottom: 15px;
}
.general_content_styles .long-content p.lead {
  padding: 0 15px 0 0;
}
.general_content_styles figure + p:first-child {
  margin-top: 20px;
}
.general_content_styles figure.half-image {
  width: 50%;
}
.general_content_styles figure.pull-left {
  margin-right: 20px;
}
.general_content_styles figure.pull-right {
  margin-left: 20px;
}
.general_content_styles.full_width {
  width: 100%;
  max-width: none;
}
.general_content_styles .row.related-articles {
  display: table;
  height: 100%;
  margin-bottom: 20px;
}
.general_content_styles .row.related-articles .col-md-4 {
  float: none;
  display: table-cell;
  height: 100%;
}
.general_content_styles .row.related-articles .col-md-4 .related {
  background-color: #F1F1F1;
  position: relative;
  height: 100%;
}
.general_content_styles .row.related-articles .col-md-4 .related .thumbnail {
  padding: 0;
  border-radius: 0;
  height: 200px;
  overflow: hidden;
}
.general_content_styles .row.related-articles .col-md-4 .related .thumbnail .img-responsive {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
}
.img-responsive {
  width: 100%;
}
.general_content_styles .row.related-articles .col-md-4 .related p {
  padding: 10px;
  padding-bottom: 50px;
}
.general_content_styles .row.related-articles .col-md-4 .related h4 {
  padding: 0 10px;
  margin-bottom: 0;
}
.general_content_styles .row.related-articles .col-md-4 .related #tags {
  position: absolute;
  bottom: 0px;
  right: 0;
}
.related i {
  position: absolute;
  font-size: 18px;
  padding: 15px;
  top: 0px;
  left: 0px;
  background-color: #ffdd46;
  color: #ffffff;
}
.related i.purple {
  background-color: #bf58a1;
}
.related i.red {
  background-color: #cf3c28;
}
.related i.blue {
  background-color: #37a5d7;
}
.related i.orange {
  background-color: #f1942c;
}
.related i.green {
  background-color: #70ad43;
}
#tags {
  text-align: right;
}
#tags .tag {
  white-space: nowrap;
  position: relative;
  margin: 0 20px 15px 0px;
  display: inline-block;
  height: 25px;
  padding: 0 3px 0 7px;
  background: #cf3c28;
  border-top-width: 1px;
  border-bottom-width: 1px;
  color: #ffffff;
  line-height: 23px;
  text-transform: uppercase;
  font-size: 10px;
}
#tags .tag.island:before {
  content: "\f024";
  font: normal normal normal 12px/1 FontAwesome;
  padding-right: 5px;
}
#tags .tag.sapelo {
  background-color: #70ad43;
}
#tags .tag.sapelo:after {
  border-left: 12px solid #70ad43;
}
#tags .tag.sapelo:hover {
  background-color: #588835;
}
#tags .tag.sapelo:hover:after {
  border-left: 12px solid #70ad43;
  border-top: 13px solid transparent;
  border-bottom: 12px solid transparent;
}
#tags .tag:after {
  position: absolute;
  content: "\25CF";
  color: #ffffff;
  text-shadow: 0 0 1px #333;
  font-size: 0px;
  line-height: 0px;
  text-indent: 12px;
  right: -12px;
  top: 0px;
  width: 1px;
  height: 0px;
  border-left: 12px solid #cf3c28;
  border-top: 13px solid transparent;
  border-bottom: 12px solid transparent;
}
#tags .tag:hover {
  cursor: default;
}
.feature-photo {
  margin-bottom: 10px;
}
.divider {
  padding: 5px 20px;
  font-style: italic;
}
.filter-list {
  text-align: left;
}
.filter-list label {
  width: 175px;
  font-weight: normal;
  display: block;
}
.filter-list .tag.content-type {
  background-color: #ffdd46;
  margin: 5px 5px 5px 2px;
  color: #FFFFFF;
  padding: 14px;
  height: auto;
  font-size: 15px;
}
.filter-list .tag.content-type:after {
  border-left: 0;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
}
.filter-list#isotope-tags .tag {
  white-space: nowrap;
  position: relative;
  margin: 0 5px 15px 2px;
  display: inline-block;
  height: 25px;
  padding: 0 7px 0 7px;
  background: #CCC;
  border-top-width: 1px;
  border-bottom-width: 1px;
  color: #333;
  line-height: 23px;
  text-transform: uppercase;
  font-size: 10px;
  border: 0;
}
.filter-list#isotope-tags .tag.active {
  background: #cf3c28;
  color: #ffffff;
  outline: none;
}
.filter-list#isotope-tags .tag:hover,
.filter-list#isotope-tags .tag:focus {
  outline: none;
}
.element {
  padding: 10px 10px 10px 0;
}
.element .item {
  border: solid 1px #F1F1F1;
  position: relative;
  padding: 5px;
  height: 500px;
  position: relative;
}
.element .item a {
  color: inherit;
}
.element .item a:hover {
  text-decoration: none;
}
.element .item .related > a {
  color: #333;
}
.element .item .related > a:hover {
  text-decoration: none;
}
.element .item .related #tags {
  position: absolute;
  bottom: 0;
  right: 0;
}
.element .item .thumbnail {
  margin: -5px;
  margin-bottom: 5px;
  padding: 0;
  border: none;
  height: 200px;
  overflow: hidden;
  border-radius: 0;
}
.element .item .thumbnail img {
  height: 100%;
  position: relative;
  max-width: none;
}
.right-column {
  background-color: #F1F1F1;
  min-height: 100%;
  padding-top: 40px;
}
.right-column h3 {
  margin-top: 50px;
}
.right-column .callout {
  display: table;
  margin-bottom: 20px;
}
.right-column .callout .thumbnail {
  width: 40%;
  padding: 0;
  display: table-cell;
  height: 175px;
  overflow: hidden;
}
.right-column .callout .thumbnail img {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
}
.right-column .callout .description {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
}
.right-column .callout .description h4 {
  margin-top: 0;
}
.right-column .callout .description .btn-primary {
  background-color: #455a64;
  border: #303f46;
  position: relative;
  padding: 10px 20px 10px 10px;
}
.right-column .callout .description .btn-primary:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f054";
  position: absolute;
  right: 5px;
  font-size: 10px;
  top: 40%;
  padding-left: 20px;
}
.side-bar {
  background: #ffffff;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.22);
  margin-bottom: 0px;
  margin-left: 50px;
  max-width: 240px;
  min-height: 100%;
}
.map {
  min-height: 100%;
  position: fixed !important;
  right: 0;
}
.map.full-width {
  width: 100% !important;
}
.map #map {
  width: 100%;
  height: 100%;
  position: absolute;
}
.carousel-inner img {
  margin: auto;
}
.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  padding: 5px;
  bottom: 0px;
  color: #fff;
  text-shadow: none;
  background-color: #F1F1F1;
  color: #333;
  font-style: italic;
  font-size: 12px;
  margin: 0;
}
.carousel-caption .credit {
  margin: 0;
  text-align: right;
  font-size: 10px;
  padding: 0 5px;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
  text-shadow: 0px 1px 5px #000000;
}
.carousel-indicators {
  bottom: 100px;
}
@media screen and (max-width: 1800px) {
  .general_content_styles {
    max-width: 70%;
  }
}
@media screen and (max-width: 1660px) {
  .general_content_styles {
    max-width: 60%;
  }
}

/* bug fix 1 */
svg > g * {
  pointer-events: all;
}


/* address height of tooltip images on mapbox map */
.carousel-inner > .item > img {
  height: 300px;
  width: auto;
}

/* make article images span across the width */
.img-article {
  /*width: 100%;*/
}
