.triangle-border {
  border-left: 12px solid #d94b3f;
  border-top: 13px solid transparent;
  border-bottom: 12px solid transparent;
}
.second-border {
  border-left: 12px solid #ffdd46;
  border-top: 13px solid transparent;
  border-bottom: 12px solid transparent;
}
.leaflet-popup-pane {
  width: 300px;
}
.leaflet-popup-pane img {
  width: 100%;
}
* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background-color: #ffffff;
}
body p {
  line-height: 1.75em;
}
html {
  height: 100%;
}
h1 {
  font-weight: 300;
}
.site {
  height: 100%;
  margin: 0px;
}
#hideMap {
  padding: 10px;
  font-size: 30px;
  position: relative;
  background-color: #ffdd46;
  color: #ffffff;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.28);
}
#hideMap.collapse {
  margin-left: 75px;
}
#hideMap:hover {
  text-decoration: none;
}
.general_menu {
  background: #455a64;
  box-shadow: inset -1px 0px 1px #1c2125;
  height: 100%;
  max-width: 75px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  position: fixed;
  z-index: 8;
}
.general_menu ul {
  padding: 0px;
}
.general_menu ul li a {
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  display: block;
  color: #eaeff1;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: -1px;
  padding: 15px 13px;
}
.general_menu ul li a:hover {
  background: #20272c;
  display: block;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: -1px;
  padding: 15px 13px;
  text-decoration: none;
}
.general_menu .avatar {
  display: block;
  padding: 25px 8px;
}
.full_width {
  padding-left: 105px;
  background: #ffffff;
  padding-top: 20px;
}
.general_content_styles {
  background: #ffffff;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.28);
  margin-bottom: 0px;
  padding-left: 105px;
  max-width: 1200px;
  min-height: 100%;
  padding-top: 20px;
}
.general_content_styles figcaption {
  padding: 10px;
  background-color: #f1f1f1;
  margin-top: -10px;
  font-style: italic;
  font-size: 12px;
}
.general_content_styles .long-content .img-responsive {
  width: 100%;
  margin-bottom: 10px;
  border: solid 1px #F1F1F1;
}
.general_content_styles figure + p:first-child {
  margin-top: 20px;
}
.general_content_styles figure.half-image {
  width: 50%;
}
.general_content_styles figure.pull-left {
  margin-right: 20px;
}
.general_content_styles figure.pull-right {
  margin-left: 20px;
}
.general_content_styles.full_width {
  width: 100%;
  max-width: none;
}
.general_content_styles .row.related-articles {
  display: table;
  height: 100%;
  margin-bottom: 20px;
}
.general_content_styles .row.related-articles .col-md-4 {
  float: none;
  display: table-cell;
  height: 100%;
}
.general_content_styles .row.related-articles .col-md-4 .related {
  background-color: #F1F1F1;
  position: relative;
  height: 100%;
}
.general_content_styles .row.related-articles .col-md-4 .related .thumbnail {
  padding: 0;
  border-radius: 0;
  height: 200px;
  overflow: hidden;
}
.general_content_styles .row.related-articles .col-md-4 .related .thumbnail .img-responsive {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
}
.general_content_styles .row.related-articles .col-md-4 .related p {
  padding: 10px;
  padding-bottom: 50px;
}
.general_content_styles .row.related-articles .col-md-4 .related h4 {
  padding: 0 10px;
  margin-bottom: 0;
}
.general_content_styles .row.related-articles .col-md-4 .related #tags {
  position: absolute;
  bottom: 0px;
  right: 0;
}
.related i {
  position: absolute;
  font-size: 18px;
  padding: 15px;
  top: 0px;
  left: 0px;
  background-color: #ffdd46;
  color: #ffffff;
}
#tags {
  text-align: right;
}
#tags .tag {
  white-space: nowrap;
  position: relative;
  margin: 0 20px 15px 0px;
  display: inline-block;
  height: 25px;
  padding: 0 3px 0 7px;
  background: #d94b3f;
  border-top-width: 1px;
  border-bottom-width: 1px;
  color: #ffffff;
  line-height: 23px;
  text-transform: uppercase;
  font-size: 10px;
}
#tags .tag.island:before {
  content: "\f024";
  font: normal normal normal 12px/1 FontAwesome;
  padding-right: 5px;
}
#tags .tag.sapelo {
  background-color: #66c396;
}
#tags .tag.sapelo:after {
  border-left: 12px solid #66c396;
}
#tags .tag.sapelo:hover {
  background-color: #45b17d;
}
#tags .tag.sapelo:hover:after {
  border-left: 12px solid #66c396;
  border-top: 13px solid transparent;
  border-bottom: 12px solid transparent;
}
#tags .tag:after {
  position: absolute;
  content: "\25CF";
  color: #ffffff;
  text-shadow: 0 0 1px #333;
  font-size: 0px;
  line-height: 0px;
  text-indent: 12px;
  right: -12px;
  top: 0px;
  width: 1px;
  height: 0px;
  border-left: 12px solid #d94b3f;
  border-top: 13px solid transparent;
  border-bottom: 12px solid transparent;
}
#tags .tag:hover {
  text-decoration: none;
  background-color: #bf3226;
}
#tags .tag:hover:after {
  border-left: 12px solid #bf3226;
}
.feature-photo {
  margin-bottom: 10px;
}
.divider {
  padding: 5px 20px;
  font-style: italic;
}
.filter-list {
  text-align: left;
}
.filter-list label {
  width: 175px;
  font-weight: normal;
  display: block;
}
.filter-list .tag.content-type {
  background-color: #ffdd46;
  margin: 5px 5px 5px 2px;
  color: #FFFFFF;
  padding: 14px;
  height: auto;
  font-size: 15px;
}
.filter-list .tag.content-type:after {
  border-left: 0;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
}
.filter-list#isotope-tags .tag {
  white-space: nowrap;
  position: relative;
  margin: 0 5px 15px 2px;
  display: inline-block;
  height: 25px;
  padding: 0 7px 0 7px;
  background: #CCC;
  border-top-width: 1px;
  border-bottom-width: 1px;
  color: #333;
  line-height: 23px;
  text-transform: uppercase;
  font-size: 10px;
  border: 0;
}
.filter-list#isotope-tags .tag.active {
  background: #d94b3f;
  color: #ffffff;
  outline: none;
}
.filter-list#isotope-tags .tag:hover,
.filter-list#isotope-tags .tag:focus {
  outline: none;
}
.element {
  padding: 10px;
}
.element .item {
  border: solid 1px #F1F1F1;
  position: relative;
  padding: 5px;
  height: 500px;
  position: relative;
}
.element .item a {
  color: inherit;
}
.element .item a:hover {
  text-decoration: none;
}
.element .item .related > a {
  color: #333;
}
.element .item .related > a:hover {
  text-decoration: none;
}
.element .item .related #tags {
  position: absolute;
  bottom: 0;
  right: 0;
}
.element .item .thumbnail {
  margin: -5px;
  margin-bottom: 5px;
  padding: 0;
  border: none;
  height: 150px;
  overflow: hidden;
  border-radius: 0;
}
.element .item .thumbnail img {
  min-height: 100%;
  min-width: 100%;
}
.right-column {
  background-color: #F1F1F1;
  min-height: 100%;
  padding-top: 40px;
}
.right-column h3 {
  margin-top: 50px;
}
.right-column .callout {
  display: table;
  margin-bottom: 20px;
}
.right-column .callout .thumbnail {
  width: 40%;
  padding: 0;
  display: table-cell;
  height: 175px;
  overflow: hidden;
}
.right-column .callout .thumbnail img {
  min-width: 100%;
  min-height: 100%;
}
.right-column .callout .description {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
}
.right-column .callout .description h4 {
  margin-top: 0;
}
.right-column .callout .description .btn-primary {
  background-color: #455a64;
  border: #303f46;
  position: relative;
  padding: 10px 20px 10px 10px;
}
.right-column .callout .description .btn-primary:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f054";
  position: absolute;
  right: 5px;
  font-size: 10px;
  top: 40%;
  padding-left: 20px;
}
.side-bar {
  background: #ffffff;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.22);
  margin-bottom: 0px;
  margin-left: 50px;
  max-width: 240px;
  min-height: 100%;
}
.map {
  min-height: 100%;
  min-width: 100%;
  position: fixed !important;
}
.map #map {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
